<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>B.s.C, Information Technology</h1>
            <span>University of Central Florida</span><br />
            <span><address>Orlando, FL</address><time>2005 to 2007</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>AWS Certified Solutions Architect Associate – 2018</h1>
        </header>
    </article>
    <article>
        <header>
            <h1>AWS Certified SysOps Administrator – 2018</h1>
        </header>
    </article>
    <article>
        <header>
            <h1>AWS Certified DevOps Professional – 2018</h1>
        </header>
    </article>
    <article>
        <header>
            <h1>VMWare Certified Professional 5</h1>
            <span>
                <address>VCP510: #220142173</address>
            </span>
        </header>
    </article>
    <article>
        <header>
            <h1>CompTIA Security+ce</h1>
            <span><address>(Required for DoD 8570.1 compliance)</address></span>
        </header>
    </article>
</section>
