<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>B.s.C, Information Technology</h1>
            <span>University of Central Florida</span><br />
        </header>
    </article>
    <article>
        <header>
            <h1>AWS Certified Solutions Architect Associate</h1>
        </header>
    </article>
    <article>
        <header>
            <h1>AWS Certified SysOps Administrator</h1>
        </header>
    </article>
    <article>
        <header>
            <h1>AWS Certified DevOps Professional</h1>
        </header>
    </article>
    <article>
        <header>
            <h1>CompTIA Security+ce</h1>
            <span><address>(Required for DoD 8570.1 compliance)</address></span>
        </header>
    </article>
</section>
