<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Linux SRE</h1>
            <span><address>Northrop Grumman</address></span><br />
            <span><address>Melbourne, FL</address><time>2016 to Present</time></span>
        </header>
        <p>Part of an Operations Team providing leadership, design/architecture, and mentorship across multiple programs at our Melbourne Center of Excellence.</p>
    </article>
    <article>
        <header>
            <h1>Senior Systems Engineer</h1>
            <span><address>The Network Support Company</address></span><br />
            <span><address>Orlando, FL</address><time>2014 to 2015</time></span>
        </header>
        <p>As part of the Network Support Company, I designed, executed, and maintained IS environments for clients in the small to medium business sector. Additionally, I was tasked with bringing internal infrastructure changes where needed.</p>
    </article>
    <article>
        <header>
            <h1>Senior Systems Engineer</h1>
            <span><address>ENSCO, Inc. </address></span><br />
            <span><address>Melbourne, FL </address><time>2005 to 2014</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Student Start-up, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article>
</section>
