<section class="thirteen columns">
    <h1>CORE STRENGTHS</h1>
    <table>
        <tr><td>
        <ul>
        <li>Linux/Unix Administration<br />
            (RHEL/CentOS/AIX)</li>
        <li>Windows Administration</li>
        <li>Lifecycle Management<br />
            (Satellite/Foreman, WSUS, MDT)</li>
        </ul></td>
        <td><ul>
        <li>Automation Toolkits<br />
            (Git, Vagrant, Puppet)</li>
        <li>Shell, Python, Powershell</li>
        <li>Java/Apache/Tomcat</li>
        <li>VMWare, VirtualBox, KVM</li>
        <li>System Securing/Hardening<br />
            (DoD RMF, PCI Compliance)</li>
        </ul></td>
        <td>
        <ul>
        <li>apples</li>
        <li>bananas</li>
        <li>pineapples</li>
        </ul></td></tr>
    </table>

    <h1>PROFESSIONAL EXPERIENCE</h1>
    <article>
        <header>
            <h1>Site Reliability Engineer</h1>
            <span><address>Northrop Grumman</address></span><br />
            <span><address>Melbourne, FL</address><time>March 2016 to Present</time></span>
        </header>
        <p>As an SRE, I provide leadership, design/architecture, and mentorship across multiple programs. I am currently involved in projects establishing DoD RMF compliance at our Melbourne Center of Excellence.</p><br />
        <ul>
        <li>Introduced Lifecycle Management (RHEL Satellite Server) to existing brownfield environment.</li>
        <li>Implemented Configuration Management (Puppet) to standardize environment.</li>
        <li>Established test environment using Vagrant, Puppet, Foreman, and Git.</li>
        <li>Automated provisioning/hardening/reporting of VMs using Kickstart/Foreman/Puppet.
        <li>Performed various ESXi and Microsoft AD/Exchange upgrades.</li>
        </ul>

    </article>
    <article>
        <header>
            <h1>Senior Systems Engineer</h1>
            <span><address>The Network Support Company</address></span><br />
            <span><address>Orlando, FL</address><time>June 2014 to May 2015</time></span>
        </header>
        <p>Designed, executed, and maintained IS environments for clients in the small to medium business sector. Tasked with bringing internal infrastructure changes as well.</p><br />
        <ul>
        <li>Met with potential new clients to assess the existing client environment and provide documentation.</li>
        <li>Designed, proposed, and implemented projects with clients onsite. These were largely Windows Active Directory/Exchange environments with some smaller Linux shops.</li>
        <li>Worked closely with PMs to ensure concurrent projects were executed in a successful and realistic timeframe with minimal downtime.</li>
        <li>Participated in on-call pager duty as well as helpdesk support as necessary.</li>
        <li>Successful projects included: Windows Domain Intra/Inter Forest migrations, Exchange migrations (2003-2013), VMWare ESXi rollouts/upgrades, Cisco and HP switching forklift upgrades and design overhauls.</li>
        <li>Successfully proposed and executed 7 projects during an 11 month contract.</li>
        </ul>

    </article>
    <article>
        <header>
            <h1>Senior Systems Engineer</h1>
            <span><address>ENSCO, Inc. </address></span><br />
            <span><address>Melbourne, FL </address><time>February 2005 to June 2014</time></span>
        </header>
        <p>Operations team member providing architecture and administration for enterprise infrastructure comprising of multiple datacenters and remote office locations. Responsible for all virtualization, HPC, storage, and backup systems as well as day to day operations of corporate email, VOIP, file/print/DNS services, and helpdesk. Have filled a ‘DevOps’ role with development groups across the company, providing administration in CI/Agile environments.</p><br />
        <ul>
        <li>Top level support for Windows issues.</li>
        <li>Top level support for Unix/Linux/HPC issues.</li>
        <li>Designed automated workstation imaging solution for entire company.</li>
        <li>DevOps role for multiple development groups within the company.</li>
        <li>SME for all backup systems.</li>
        <li>Led company-wide Windows domain and Exchange upgrade (2000->2008/2007).</li>
        <li>Virtualized east coast offices (8 locations).</li>
        <li>Virtualized west coast offices (3 locations).</li>
        <li>Led second round of all remote office virtualizations (7 locations, 2013).</li>
        </ul>
    </article>
</section>
