<section class="thirteen columns">
    <h1>PROFESSIONAL EXPERIENCE</h1>
    <article>
        <header>
            <h1>Site Reliability Engineer</h1>
            <span><address>Northrop Grumman</address></span><br />
            <span><address>Melbourne, FL</address><time>2016 to Present</time></span>
        </header>
        <p>As an SRE, I provide leadership, design/architecture, and mentorship across multiple programs. I am currently involved in projects establishing DoD RMF compliance at our Melbourne Center of Excellence.</p><br />
        <ul>
        <li>Introduced Lifecycle Management (RHEL Satellite Server) to existing brownfield environment.</li>
        <li>Implemented Configuration Management (Puppet) to standardize environment.</li>
        <li>Established test environment using Vagrant, Puppet, Foreman, and Git.</li>
        <li>Performed various ESXi and Microsoft AD/Exchange upgrades.</li>
        <li>Implemented general Ops best practices such as Change Management, Monitoring, Documentation to stop configuration drift.</li>
        </ul>

    </article>
    <article>
        <header>
            <h1>Senior Systems Engineer</h1>
            <span><address>The Network Support Company</address></span><br />
            <span><address>Orlando, FL</address><time>2014 to 2015</time></span>
        </header>
        <p>As part of the Network Support Company, I designed, executed, and maintained IS environments for clients in the small to medium business sector. Additionally, I was tasked with bringing internal infrastructure changes where needed.</p><br />
        <ul>
        <li>Met with potential new clients to assess the existing client environment and provide documentation.</li>
        <li>Designed, proposed, and implemented projects with clients onsite.</li>
        <li>Worked closely with PM to ensure concurrent projects were executed in a successful and realistic timeframe with minimal downtime.</li>
        <li>Participated in on-call pager duty as well as helpdesk support when necessary.</li>
        <li>Successful projects included: Windows Domain Intra/Inter Forest migrations, Exchange migrations (2003-2013), VMWare ESXi virtualizations/upgrades, Cisco and HP switching infrastructure forklift upgrades and design changes.</li>
        <li>Successfully proposed and executed 7/12 proposed projects in a 12-month timeframe.</li>
        </ul>

    </article>
    <article>
        <header>
            <h1>Senior Systems Engineer</h1>
            <span><address>ENSCO, Inc. </address></span><br />
            <span><address>Melbourne, FL </address><time>2005 to 2014</time></span>
        </header>
        <p>During my time at ENSCO, I was a member of an Operations team providing architecture and administration for enterprise infrastructure comprising of multiple datacenters and CONUS remote office locations. I was responsible for backup administration, various virtualization platforms, HPC administration, storage architecture and administration, and day to day operations of corporate email, VOIP, file/print/DNS services, and helpdesk. I have also filled a ‘DevOps’ role with development groups across the company, providing administration in CI/Agile environments.</p><br />
        <ul>
        <li>Top level support for Windows issues.</li>
        <li>Top level support for Unix/Linux/HPC issues.</li>
        <li>Designed automated workstation imaging solution for entire company.</li>
        <li>DevOps role for multiple development groups within the company.</li>
        <li>SME for all backup systems.</li>
        <li>Led company-wide Windows domain and Exchange upgrade (2000->2008/2007).</li>
        <li>Virtualized east coast offices (8 locations).</li>
        <li>Virtualized west coast offices (3 locations).</li>
        <li>Led second round of all remote office virtualizations (7 locations, 2013).</li>
        </ul>
    </article>
</section>
