<section class="thirteen columns">
    <h1>Certifications</h1>
    <article>
        <header>
            <h1>AWS Certified Solutions Architect Associate – 2018</h1>
            <span><address></address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>AWS Certified SysOps Administrator – 2018</h1>
            <span>
                <address></address>
            </span>
        </header>
    </article>
    <article>
        <header>
            <h1>AWS Certified DevOps Professional – 2018</h1>
            <span>
                <address></address>
            </span>
        </header>
    </article>
    <article>
        <header>
            <h1>VMWare Certified Professional 5</h1>
            <span><address>VCP510: #220142173</address></span>
        </header>
    </article>
</section>