<section class="thirteen columns">
    <h1>About Me</h1>
    <article>
        <p>I am an outgoing and energentic Systems Engineer with 10+ years experience seeking a career that fits my professional skillset, personality, and organizational values. The majority of my work has centered around Operations, Linux/Windows Administration, Developer Support and Operations ("DevOps"), and Automation. I enjoy the role of Generalist but have often dug into a specialized technology to solve a problem or expand my skillset. </p><br />
    </article>
</section>