<section class="thirteen columns">
    <h1>Skillsets</h1>
    <article>
        <header>
            <h1>Hardware</h1>
        </header>
            <p>Dell/HP/Sun server and desktop hardware. Multiple HPC cluster vendors, IBM Power Series. Cisco and HP networking, EMC Isilon, Dell Powervault, and many lower tier storage vendors (fiber, iSCSI deployments).
            </p>
        <header>    
            <h1>Software</h1>
        </header>
            <p>RHEL/CentOS, Windows, Active Directory, Exchange, MDT. VMWare ESXi, Solaris Zones, and KVM. Xymon, Nagios/Icinga, and Solarwinds monitoring suites.
            </p>
        <header>
            <h1>Code</h1>
        </header>
            <p>I am comfortable with Powershell, Bash, and Python. I have experience using/migrating/implementing modern (Git) and more traditional (CVS, SVN, Mantis) version control systems. I am big fan of Atlassian products as well and have experience administering JIRA, Confluence, BitBucket, GitLab, and Jenkins.</p>
    </article>
</section>