<section class="thirteen columns">
    <h1>Skillsets</h1>
    <article>
        <header>
            <h1>Automation</h1>
        </header>
            <p>Like many in my field, automation is the key focus behind all of my work. I am most familiar
            with Puppet.
            </p><br />
        <header>
            <h1>Code</h1>
        </header>
            <p>I am comfortable with Shell, Powershell, and Python. I have experience using/migrating/implementing modern (Git) and more traditional (CVS, SVN, Mantis) version control systems. I am big fan of Atlassian products as well and have experience administering JIRA, Confluence, BitBucket, GitLab, and Jenkins.</p>
    </article>
</section>